
body {
	background-color: #E6E6B8;

	font-family: 'Lato', sans-serif;
}

#button {
	height: 30px;
	font-size: 100%;
}

#savebutton {
	font-size: 100%
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + i:before {
    content:'\2718';
    color:red;
}
input[type="radio"]:checked + i:before {
    content:'\2713';
    color:green;
}

/* only to get the list vertical */
.vertical-group > label {
    display:block
}


#scope{
	position: relative;
	border: 2px solid black;
	width: 500px;
	height: 300px;
	top: -370px;
	margin: 400px;
	box-shadow:         7px 7px 10px 0 rgba(50, 50, 50, 0.75);
}

#savetrace{
	position: relative;
	float: left;
	width: 150px;
	top: -600px;
	margin: 750px;
}

#seedID {width: 40px; margin: 10px; padding: 0;}

.inform {width: 33px; margin: 10px; padding: 0;}

#topgroup{
	float: left;
	height: 160px;
	border-radius: 21px; 
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 300px;
	box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.75);
	margin: 10px;
}

#vsteps{
	position: relative;
	float: left;
	top: -1550px;
	margin: 10px;
	height: 100px;
}

#protocols{
	position: relative;
	float: left;
	top: -1080px;
	margin: -340px;
}

.rangeH {width: 100px; height: 10px; margin: 10px; padding: 0;}
