
body {
	background-color: #62C9F5;

	font-family: 'Lato', sans-serif;
}

#button {
	height: 30px;
	font-size: 100%;
}

#savebutton {
	font-size: 100%
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + i:before {
    content:'\2718';
    color:red;
}
input[type="radio"]:checked + i:before {
    content:'\2713';
    color:green;
}

/* only to get the list vertical */
.vertical-group > label {
    display:block
}

#lower{
	clear: left;
	width: 800px;
	margin: 20px;

}


#scope{
	float: left;
	
	border: 2px solid black;
	width: 425px;
	height: 305px;
	margin-top: 20px;	
}

H1 {
	margin-left: 20px;
}

section {
	width: 900px;
}


#scope2{
	float: left;
	margin: 20px;
	border: 2px solid black;
	width: 300px;
	height: 300px;
}

#seedID {width: 32px; margin: 10px; padding: 0;}

.inform {width: 33px; margin: 10px; padding: 0;}

#topgroup{
	float: left;
	height: 300px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #eeeeee;
	width: 250px;
	margin: 20px;
	padding-top: 10px;
}

#vsteps{
	top: 20px;
}

#protocols{
	top: 50px;
}

.rangeH {width: 100px; height: 10px; margin: 10px; padding: 0;}

