
body {
	background: #b8c6df; /* Old browsers */
background: -moz-linear-gradient(top,  #b8c6df 0%, #6d88b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#6d88b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b8c6df 0%,#6d88b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */


	font-family: 'Lato', sans-serif;
}


#button {
	height: 30px;
	font-size: 100%;  
}

#savebutton {
	font-size: 100%
}



input[type="radio"] {
    display:none;
}
input[type="radio"] + i:before {
    content:'\2718';
    color:red;
}
input[type="radio"]:checked + i:before {
    content:'\2713';
    color:green;
}

/* only to get the list vertical */
.vertical-group > label {
    display:block
}


#scope{
	border: 2px solid black;
	width: 600px;
	height: 320px;
	left: 0;
	top: 20px;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	box-shadow:         7px 7px 10px 0 rgba(50, 50, 50, 0.75);
}

#seedID {width: 32px; margin: 10px; padding: 0;}

.inform {width: 33px; margin: 10px; padding: 0;}

.sodium {
	width: 30px;
}

.TEA {
	width: 30px;
}

#toptop{
	width: 100%; 
	overflow: hidden;
	height: 130px;
	margin-left: 20px;
}


#topgroup{
	border-radius: 21px; 
	height: 110px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 300px;
	float: left;
	box-shadow:         7px 7px 10px 0 rgba(50, 50, 50, 0.75);
	
}

#trace-controls{
	padding: 10px;
	margin-left: 200px;
	border-radius: 21px; 
	height: 25px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 260px;
	box-shadow:         7px 7px 10px 0 rgba(50, 50, 50, 0.75);
}

#protocolTitle{
	margin-left: 20px;
}

#concentrations{
	margin-left: 150px;	
	padding-top: 20px;
}

#vsteps{
	top: 20px;
	margin-left: 320px;
}

#protocols{
	
	margin-left: 20px;
	top: 20px;
	border-radius: 21px; 
	height: 80px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 520px;
	box-shadow:         7px 7px 10px 0 rgba(50, 50, 50, 0.75);
	
}

.rangeH {width: 100px; height: 10px; margin: 10px; padding: 0;}



